.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  justify-content: center;
  place-items: center;
  row-gap: .4rem;
  column-gap: 2.5rem;
  z-index: 999;
}


/* xs */
@media (max-width: 475px) {
  .board {
    row-gap: 0.3rem;
    column-gap: .3rem;
  }
}

/* sm */
/* @media (max-width: 640px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */
