.square__tile {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--clr-dark);
}

.square__tile.light-mode {
  background-color: var(--clr-dark);
  border: 2px solid #616161;
  box-shadow: 0 0 10px #242424bf;
}

.square__tile.light-mode:hover {
  background-color: rgb(27, 27, 27);
}

.square__tile.dark-mode {
  background-color: var(--clr-light);
  border: 2px solid #333;
  box-shadow: 0 0 10px #939292bf;
}

.square__tile.dark-mode:hover {
  background-color: #b4b4b4;
}

.square__tile:focus {
  outline: none;
}

.x_tile {
  color: var(--clr-rose);
  text-shadow: 0 0 12px #e61c7ab7;
}

.o_tile {
  color: var(--clr-indigo);
  text-shadow: 0 0 12px #1c5380cf;
}


/* xs */
@media (max-width: 475px) {
  .square__tile {
    width: 6rem;
    height: 6rem;
  }
}

/* sm */
@media (max-width: 640px) {}

/* md */
@media (max-width: 768px) {}

/* lg */
@media (max-width: 1024px) {}

/* xl */
@media (max-width: 1280px) {}

/* 2xl */
@media (max-width: 1536px) {}